<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <%include style.ejs%>
</head>
<body>
<div id="app">
<h1><%= title %></h1>
<p>Welcome to <%= title %></p>
<ul v-for="(v,k) in users">
  <li>{{v.name}}</li>
</ul>
</div>
</body>
<%include script.ejs%>
<script>
    var vm = new Vue({
        el:'#app',
        data:{
            users:<%- JSON.stringify(result) %>
        }
    });
</script>
</html>
