* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding: 10px;
  font: 14px "Microsoft YaHei UI", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.el-header, .el-footer {
  /*background-color: #B3C0D1;*/
  border-bottom: 1px solid #D3DCE6;
  color: #333;
  text-align: center;
  line-height: 60px;
}
.el-aside {
  /*background-color: #D3DCE6;*/
  color: #333;
  text-align: center;
  line-height: 60px;
}
.el-aside > div {
  height: 60px;
  border-bottom: 1px solid #D3DCE6;
  /*background-color: #a0cfff;*/
}
.el-aside .title {
  font-size: 38px;
  color: #409EFF;
  font-weight: bold;
}
.el-main {
  /*background-color: #E9EEF3;*/
  margin-top: 1px;
  color: #333;
  text-align: center;
  /*line-height: 160px;*/
}
.el-main > .content{
  width: 1000px;
  margin: 10px auto;
}

.el-main > .content .el-card a{
  display: block;
}
.card-icon {
  width: 32px;
  height: 32px;
  border-radius: 32px;
  float: left;
  display: block;
}
.el-main > .content .el-card a img{
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
body > .el-container {
  margin-bottom: 40px;
}